/* -------------------------------------
    CONFIGURE YOUR VARIABLES
------------------------------------- */

$padding: 30px; // For consistent padding
$grey: #020f16; // Background color // RS startup was #272822 #
$width: 600px; // Width of the content area
$br: 0px; // Border radius
$primary-color: #3e89cc; // Primary color for buttons and links
$header-background: #020f16;