---
layout: default.hbs
subject: Branded transaction email example
---
<span class="preheader">Search, Graphing and Speed 🚤 | Airbrake NG15 </span>
<div class="header">
	<table width="100%" cellpadding="0" cellspacing="0">
			<tr>
			<td class="aligncenter logo">
				<a href="http://login.airbrake.io"><img src="../src/img/ab-logo-2015.png" height="150" alt="Airbrake NG"></a>
			</td>
		</tr>
	</table>
</div>
<table class="main" width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<td class="content-wrap">
			<table width="100%" cellpadding="0" cellspacing="0">
				<tr>
					<td>
					<p>Hello Airbraker,<br><br>Today I'm very happy to introduce Airbrake NG15; a new interface that we've had in the works for a while. We've taken all of your feedback and we  can't wait for you to start using this latest iteration of our UI. </p><br>
					<p>Read more below or <a href="http://airbrake.io/login" title="Login">log in</a> and check it out for yourself. </p><br>

					<p>Thank you,<br>
				 	The Exceptional team. </p>
					<hr>

					<br><br><br>
					<div class="clear-section">
					<img src="../src/img/gif/search-300.gif" height="150px" alt="Search" style="float:right;padding-right:10px;"><h3>Search</h3>
					You can now search through all of you exceptions. Quickly pinpoint the error you are looking for with this feature. 
					</div>
					<br><br><br><br>
					<br>
					<div class="clear-section">
					<img src="../src/img/gif/filtering-300.gif" height="150px" alt="Filtering" style="float:left;padding-right:10px;"><h3>Filtering</h3>
					You can now filter by Deploy, Host, Environment and then apply a range of sorts to enable you to find important information previously hidden from within your exceptions. 
					</div>
					<br><br><br><br><br>
					<div class="clear-section">
					<img src="../src/img/gif/keyboard-300.gif" height="150px" alt="Keyboard" style="float:right;padding-right:10px;"><h3>Keyboard Navigation</h3>
					Unlike Cats, we know you hate mice, and want to quickly resolve your exceptions. Today, we've launched our first ever comprehensive Keyboard Navigation.  
					</div>
					<br><br><br><br><br>
					<div class="clear-section">
					<img src="../src/img/gif/navigation-300.gif" height="150px" alt="Navigation" style="float:left;padding-right:10px;"><h3>Speed</h3>
					We put a lot of work into making this version of Airbrake lighting fast. Navigate through similar errors and our error list at a 5X speed. 
					</div><br><br><br><br>
					<a class="big-button" href="https://airbrake.io/login" title="What are you waiting for!">Try it for yourself.</a>
					<br><br><br>
					<h3>What our beta customers are saying.</h3>
					<img src="../src/img/Simon-Taranto.png" style="float:left;padding-right:10px;"><a href="https://twitter.com/simontaranto">@simontaranto</a> from <a href="https://twitter.com/thoughtbot">Thoughtbot</a>: “Every morning I get my coffee and check in with Airbrake to see how things are going. Having all our exceptions in one place makes learning about and then keeping track of issues a breeze. I wouldn't deploy without it.”
					<br>
					<br>
					<br>
					<img src="../src/img/Joshua-Krall.png" style="float:right;padding-right:10px;">Joshua Krall</a> from <a href="https://twitter.com/groupon">
					Groupon</a>: “It wasn't until we switched to Airbrake that we finally were able to get our exception emails under control. The ability to see your errors in one place, mark them as resolved, and organize them by deploy makes all the difference.”

					<br><br><br><b>Are you excited about this latest UI iteration?</b><br>

        		 	<table cellpadding="4">
        			 <tr><td><a href="https://www.temper.io/q/vbqiafwe/r/1?email=*|EMAIL|*" style="background:#e9565c;display:block;width:44px;height:44px;max-height:44px;border:0;"><img alt="Rate: Bad" border="0" height="44" src="https://temper.io/negative.png" width="44"/></a></td><td><a href="https://www.temper.io/q/vbqiafwe/r/2?email=*|EMAIL|*" style="background:#e9c079;display:block;width:44px;height:44px;max-height:44px;border:0;"><img alt="Rate: Neutral" border="0" height="44" src="https://temper.io/neutral.png" width="44"/></a></td><td><a href="https://www.temper.io/q/vbqiafwe/r/3?email=*|EMAIL|*" style="background:#5bca83;display:block;width:44px;height:44px;max-height:44px;border:0;"><img alt="Rate: Good" border="0" height="44" src="https://temper.io/positive.png" width="44"/></a></td></tr></table>
          			<br>
					<p>If no longer want to receive this newsletter you can <a href="*|UNSUB|*">unsubscribe</a>.</p>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<div class="footer">
	<table width="100%">
		<tr>
			<br>
			<p>Airbrake is a product of <a href="http://exceptioanl.io">Exceptional</a>.</p>
			<p>Hand crafted in GoLang and Rails by Rackers in San Francisco and Remotly around the World.</p><br>
			<td class="aligncenter">Follow <a href="http://twitter.com/airbrake">@Airbrake</a> and <a href="http://twitter.com/Rackspace">@Rackspace</a> on Twitter.</td>
		</tr>
	</table>
</div>