---
layout: default.hbs
subject: Branded transaction email example
---
<span class="preheader">Search, Filtering and Speed 🚤 | Airbrake NG15 </span>
<div class="header">
	<table width="100%" cellpadding="0" cellspacing="0">
			<tr>
			<td class="aligncenter logo">
				<a href="http://login.airbrake.io"><img src="../src/img/ab-logo-2015.png" height="150" alt="Airbrake NG"></a>
			</td>
		</tr>
	</table>
</div>
<table class="main" width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<td class="content-wrap">
			<table width="100%" cellpadding="0" cellspacing="0">
				<tr>
					<td>
					<p>Hello Airbraker,<br><br>Today I'm very happy to introduce Airbrake NG15.  Our new interface that has been in the works for a while. We've taken all of your feedback and we can't wait for you to start using this latest UI. </p><br>
					<p>Read more below or <a href="http://airbrake.io/login" title="Login">log in</a> and check it out for yourself. </p><br>

					<p>Thank you,<br>
				 	The Exceptional team. </p>
					<hr>

					<br><br><br>
					<div class="clear-section">
					<img src="../src/img/gif/search-300.gif" height="150px" alt="Search" style="float:right;padding-right:10px;"><h3>Search</h3>
					You can now search through your exceptions. Quickly pinpoint the error you are looking for with this feature. 
					</div>
					<br><br><br><br>
					<br>
					<div class="clear-section">
					<img src="../src/img/gif/filtering-300.gif" height="150px" alt="Filtering" style="float:left;padding-right:10px;"><h3>Filtering</h3>
					Filter by Deploy, Host, Environment. Then apply a range of sorts to find important information previously hidden from within your exceptions. 
					</div>
					<br><br><br><br><br>
					<div class="clear-section">
					<img src="../src/img/gif/keyboard-300.gif" height="150px" alt="Keyboard" style="float:right;padding-right:10px;"><h3>Keyboard Navigation</h3>
					Unlike Cats, we know you hate mice. We want you to quickly resolve your exceptions. Today, we've launched our first ever comprehensive Keyboard Navigation.  
					</div>
					<br><br><br><br><br>
					<div class="clear-section">
					<img src="../src/img/gif/navigation-300.gif" height="150px" alt="Navigation" style="float:left;padding-right:10px;"><h3>Speed</h3>
					We put a lot of work into making this version of Airbrake lighting fast. Navigate through similar errors and our error list at a 5X speed. 
					</div><br><br><br><br>
					<a class="big-button" href="https://airbrake.io/login" title="What are you waiting for!">Try it now.</a>
					<br><br><br>
					<h3>What our beta customers are saying.</h3>
					<img src="../src/img/brandon.jpeg" height="100px" width="100px" style="float:left;padding-right:10px;"><a href="https://twitter.com/brandon_c_hall">Brandon Hall - Front End Engineer at </a> from <a href="https://twitter.com/everyonesocial">EveryoneSocial</a>: “This release is a major step forward for Airbrake and it significantly improves the workflow. It's easy to see there was a lot of care and attention to detail put into this release.”
					<br>
					<br>
					<br>
					<img src="../src/img/sean.png" height="100px" width="100px" style="float:right;padding-right:10px;"> <a href="https://twitter.com/scarpenter" title="">Sean Carpenter</a> - </a> Developer at <a href="https://twitter.com/getvenga">
					Venga</a>: “Finding all of the errors related to a specific feature in the previous UI was a chore. Now with search and filtering, finding those errors that you need to focus on is as simple (and fast!) as typing in the search box.”
					<br><br><br>
					<h3>Come work with us</h3>
				    <p>We're currently hiring for developers, support and sales . If you are interested in making Airbrake even better please get in touch.  We're remote friendly with a heart in San Francisco. Email <a href="mailto:ben@airbrake.io?subject=I<3Airbrake" "email me">email me ben@airbrake.io</a> for more information</p> 

					<br><b>Are you excited about this latest UI iteration?</b><br>

        		 	<table cellpadding="4">
        			 <tr><td><a href="https://www.temper.io/q/vbqiafwe/r/1?email=*|EMAIL|*" style="background:#e9565c;display:block;width:44px;height:44px;max-height:44px;border:0;"><img alt="Rate: Bad" border="0" height="44" src="https://temper.io/negative.png" width="44"/></a></td><td><a href="https://www.temper.io/q/vbqiafwe/r/2?email=*|EMAIL|*" style="background:#e9c079;display:block;width:44px;height:44px;max-height:44px;border:0;"><img alt="Rate: Neutral" border="0" height="44" src="https://temper.io/neutral.png" width="44"/></a></td><td><a href="https://www.temper.io/q/vbqiafwe/r/3?email=*|EMAIL|*" style="background:#5bca83;display:block;width:44px;height:44px;max-height:44px;border:0;"><img alt="Rate: Good" border="0" height="44" src="https://temper.io/positive.png" width="44"/></a></td></tr></table>
          			<br>
					<p>If no longer want to receive this newsletter you can <a href="*|UNSUB|*">unsubscribe</a>.</p>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<div class="footer">
	<table width="100%">
		<tr>
			<br>
			<p>Airbrake is a product of <a href="http://exceptioanl.io">Exceptional</a>.</p>
			<p>Hand crafted in GoLang and Rails by Rackers in San Francisco and Remotly around the World.</p><br>
			<td class="aligncenter">Follow <a href="http://twitter.com/airbrake">@Airbrake</a> on Twitter.</td>
		</tr>
	</table>
</div>