---
layout: default.hbs
subject: Branded transaction email example
---
<div class="header">
	<table width="100%" cellpadding="0" cellspacing="0">
		<tr>
			<td class="aligncenter logo">
				<a href="http://rackspacestartups.com/"><img src="../src/img/ab-logo-2015.png" height="150" alt="Rackspace Startups"></a>
			</td>
		</tr>
	</table>
</div>
<table class="main" width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<td class="content-wrap">
			<table width="100%" cellpadding="0" cellspacing="0">
				<tr>
					<td>
					<p>Welcome Airbraker to the year 2015, the year of hoverboards<a href="http://backtothefuture.wikia.com/wiki/2015">*</a> and self healing software. Ok, we have <a href="https://www.youtube.com/watch?v=HSheVhmcYLA">hoverboards</a> and but we are still waiting for self healing software.</p><br>
					<p>In late 2014 we completed a migration and consolidation for our Exceptional error tracking users to Airbrake.io. We’ve relaunched <a href="http://exceptional.io">Exceptional.io</a> under a consildated brand with a mission to go build tools to help you build better products. </p><br>
					<p>Thank you, <br>
					The Exceptional team. </p>
					<hr>

					<img src="../src/img/airbrake-ios.png" style="float:left;padding-right:10px;"><h3>New! Airbrake Now Fits In Your Pocket - iOS Edition</h3>
					<p>Hot on the heals of the <a href="https://play.google.com/store/apps/details?id=com.airbrake.android.app&hl=en">Airbrake Android App</a> launched in August. We are happy to announce the launch of our <a href="https://airbrake.io/lp/iphone/">iPhone app</a>, grab it <a href="https://itunes.apple.com/us/app/airbrake.io/id944841582?mt=8">from the App Store.</a></p>
						
					<br><br>
					<div style="background-color:#f2f2f2; padding:5px; margin-top:10px; margin-bottom:10px; padding-left:10px; padding-right:5px;"><h3>New IP & SPDY support</h3>
					In November we’ve updated our dedicated IP for sending and accessing Airbrake. If your using Airbrake in a limited network enviroment, please add http://104.130.92.120 to your whitelist. Airbrake now supports <a href="http://en.wikipedia.org/wiki/SPDY">SPDY</a>, for extra fast exception capturing and viewing. </div>
					
					<br>
					<div class="clear-section">
					<img src="../src/img/new-projects.png" height="100px" alt="New Projects" style="float:left;padding-right:10px;"><h3>New In-app Onboarding.</h3>
					We’ve recently improved our in-app onboarding to make it easier to configure multiple projects for up to 14 programming languages and frameworks. 
					</div>

					<br><br>
					<h3>Enterprise Airbrake </h3>
					We’ve recently trialled a new enterprise plan level for Airbrake. If you're interested in SSO, yearly invoicing and custom setup. For more information on the product, please get in touch with Ben <a href="mailto:sales@airbrake.io">ben@airbrake.io</a>. 

					<br><br><br>
					<img src="../src/img/airbrake-hosted.png" style="float:right;padding-right:10px;height:120px;">
					<h3>Airbrake Hosted </h3>
					If you have strict data security for your application or specific performance or scaling needs we are able to offer. For more information on the product please mail <a href="mailto:sales@airbrake.io">sales@airbrake.io</a>. 

					<br><br>	
					<h2>Meetups</h2>
					<img src="../src/img/shudddle.png" style="float:left;padding-right:10px;">
					<h4>SF Meetup - Ship it</h4>
					On Thursday 12th Feb we’re excited to announce a new SF meetup for 2015. Our first speaker is JP Silvashy, CTO of Shuddle and he’ll be talking about `Shipping features that keep kids safe` and Ben Arent head of Product Exceptional will be talking about `Shipping support with features`. Open to all and free. Sign up on <a href="http://www.meetup.com/SF-Ship-It-Meetup/">Meetup.com</a>. 

					<br><br>
					<img src="../src/img/redis-cong.png" style="float:left;padding-right:10px;">
					<h3>Rackspace Solve and Redisconfernce.com</h3>
					<p>We'll be at Rackspace Solve on March 5th, please join us for the Free on day event to hear directly from the leaders of Tinder and <a href="https://coreos.com/">CoreOS</a>, as well as Rackspace CEO Taylor Rhodes, as they discuss the latest challenges and solutions surrounding virtualization, ecommerce, big data, DevOps and cloud architecture.<br></p>See the agenda and <a href="http://www.rackspacesolve.com/sanfrancisco.html">signup here</a>.
					<br><br>
					<h4>Redisconference.com</h4>
					<p>Our Friends at <a href="https://objectrocket.com/">ObjectRocket</a> and <a href="http://redistogo.com">RedisToGo</a> are hosting a full day free Redis Conference the day after Solve. The call for speakers and sponsorship is now open. More details at <a href="http://redisconference.com/">http://redisconference.com</a>.


					<br><br>
					<h3>Community</h3>
					The community has built a cool collection of CLI tools based on our API. 
					<ol>
					<li>Airbrake Read API Gem - <a href="https://rubygems.org/gems/airbrake-api ">https://rubygems.org/gems/airbrake-api</a></li>
					<li>Airbrake Tools - <a href="https://github.com/jcheatham/airbrake_tool">https://github.com/jcheatham/airbrake_tool</a></li>
					<li>Airbrake CLI - <a href="https://help.airbrake.io/kb/api-2/command-line-tool">https://help.airbrake.io/kb/api-2/command-line-tool</a></li>
					</ol> 
					<br><br>
					<h3>Meet our customers </h3>
					<img src="../src/img/Simon-Taranto.png" style="float:left;padding-right:10px;"><a href="https://twitter.com/simontaranto">@simontaranto</a> from <a href="https://twitter.com/thoughtbot">Thoughtbot</a>: “Every morning I get my coffee and check in with Airbrake to see how things are going. Having all our exceptions in one place makes learning about and then keeping track of issues a breeze. I wouldn't deploy without it.”
					<br>
					<br>
					<br>
					<img src="../src/img/Joshua-Krall.png" style="float:right;padding-right:10px;">Joshua Krall</a> from <a href="https://twitter.com/groupon">
					Groupon</a>: “It wasn't until we switched to Airbrake that we finally were able to get our exception emails under control. The ability to see your errors in one place, mark them as resolved, and organize them by deploy makes all the difference.”

					<br><br>
					<img src="../src/img/relax-devops.png" style="float:left;padding-right:30px;">
					<h3>Rackspace Offer -  DevOps Automation</h3>
					Let Rackspace help run your day-to-day cloud operations, including infrastructure monitoring, OS maintenance and patching, application maintenance, and more—so you can focus on your business. Get everything in our SysOps service level, plus DevOps experts and tools for continuous integration and deployment and for application monitoring to keep your environment running at peak efficiency.<br>
					<a href="http://www.rackspace.com/devops/automation-service">Learn More.</a>

					<br><br><br><b>Did you like this newsletter?</b><br>

        		 	<table cellpadding="4">
        			 <tr><td><a href="https://www.temper.io/q/vbqiafwe/r/1?email=*|EMAIL|*" style="background:#e9565c;display:block;width:44px;height:44px;max-height:44px;border:0;"><img alt="Rate: Bad" border="0" height="44" src="https://temper.io/negative.png" width="44"/></a></td><td><a href="https://www.temper.io/q/vbqiafwe/r/2?email=*|EMAIL|*" style="background:#e9c079;display:block;width:44px;height:44px;max-height:44px;border:0;"><img alt="Rate: Neutral" border="0" height="44" src="https://temper.io/neutral.png" width="44"/></a></td><td><a href="https://www.temper.io/q/vbqiafwe/r/3?email=*|EMAIL|*" style="background:#5bca83;display:block;width:44px;height:44px;max-height:44px;border:0;"><img alt="Rate: Good" border="0" height="44" src="https://temper.io/positive.png" width="44"/></a></td></tr></table>
          			<br>
					<p>If no longer want to receive this newsletter you can <a href="*|UNSUB|*">unsubscribe</a>.</p>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<div class="footer">
	<table width="100%">
		<tr>
			<br>
			<p>Airbrake is a product of <a href="http://exceptioanl.io">Exceptional</a>.</p>
			<p>Hand crafted in GoLang and Rails by Rackers in San Francisco and Remotly around the World.</p><br>
			<td class="aligncenter">Follow <a href="http://twitter.com/airbrake">@Airbrake</a> and <a href="http://twitter.com/Rackspace">@Rackspace</a> on Twitter.</td>
		</tr>
	</table>
</div>