---
layout: default.hbs
subject: Branded transaction email example
---
<span class="preheader">Search, Graphing and Speed 🚤 | Airbrake NG15 </span>
<div class="header">
	<table width="100%" cellpadding="0" cellspacing="0">
			<img src="http://f.cl.ly/items/1R1Y3K3L1D1N2F1Y1J0i/Screen%20Recording%202015-03-12%20at%2001.54%20PM.gif"  alt="Airbrake Search .GIF">		
	</table>
</div>
<table class="main" width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<td class="content-wrap">
			<table width="100%" cellpadding="0" cellspacing="0">
				<tr>
					<td>
					<p>G'Day Airbrakers!<br>Today I'm very happy to introduce Airbrake NG15; our new User interface with plently of goodies. </p><br>
					<p>Thank you, <br>
				 	The Exceptional team. </p>
					<hr>

					<img src="../src/img/airbrake-ios.png" style="float:left;padding-right:10px;"><h3>Search</h3>
					<p>We know that 11 our of 10 Airbrakers wanted search, today I'm very excite that we have delivered it.</p>
						
					<br><br><br>
					<br>
					<div class="clear-section">
					<img src="../src/img/new-projects.png" height="100px" alt="New Projects" style="float:left;padding-right:10px;"><h3>Filtering</h3>
					We’ve recently improved our in-app onboarding to make it easier to configure multiple projects for up to 14 programming languages and frameworks. 
					</div>
					<br><br><br>
					<div class="clear-section">
					<img src="../src/img/new-projects.png" height="100px" alt="New Projects" style="float:left;padding-right:10px;"><h3>Sorting</h3>
					We’ve recently improved our in-app onboarding to make it easier to configure multiple projects for up to 14 programming languages and frameworks. 
					</div>
					<br><br><br>
					<div class="clear-section">
					<img src="../src/img/new-projects.png" height="100px" alt="New Projects" style="float:left;padding-right:10px;"><h3>Keyboard shortcuts</h3>
					We’ve recently improved our in-app onboarding to make it easier to configure multiple projects for up to 14 programming languages and frameworks. 
					</div>
					<br><br><br>
					<div class="clear-section">
					<img src="../src/img/new-projects.png" height="100px" alt="New Projects" style="float:left;padding-right:10px;"><h3>Speed</h3>
					We’ve recently improved our in-app onboarding to make it easier to configure multiple projects for up to 14 programming languages and frameworks. 
					</div>
					<br><br><br>
					<div class="clear-section">
					<img src="../src/img/new-projects.png" height="100px" alt="New Projects" style="float:left;padding-right:10px;"><h3>A few details we think you'll enjoy.</h3>
					We’ve recently improved our in-app onboarding to make it easier to configure multiple projects for up to 14 programming languages and frameworks. 
					<ul>
						<li>We've added the error title to the page title; for easier navigation in the browser</li>
						<li>Item 2</li>
						<li>Item 3</li>
						<li>Item 4</li>
					</ul>
					</div>
										

					<br><br>
					<h3>Community</h3>
					The community has built a cool collection of CLI tools based on our API. 
					<ol>
					<li>Airbrake Read API Gem - <a href="https://rubygems.org/gems/airbrake-api ">https://rubygems.org/gems/airbrake-api</a></li>
					<li>Airbrake Tools - <a href="https://github.com/jcheatham/airbrake_tool">https://github.com/jcheatham/airbrake_tool</a></li>
					<li>Airbrake CLI - <a href="https://help.airbrake.io/kb/api-2/command-line-tool">https://help.airbrake.io/kb/api-2/command-line-tool</a></li>
					<li>airmonitor novel UI for Airbrake - <a href="https://github.com/jcheatham/airmonitor">https://github.com/jcheatham/airmonitor</a></li>
					</ol> 
					<br><br>
					<h3>What our customers are saying.</h3>
					<img src="../src/img/Simon-Taranto.png" style="float:left;padding-right:10px;"><a href="https://twitter.com/simontaranto">@simontaranto</a> from <a href="https://twitter.com/thoughtbot">Thoughtbot</a>: “Every morning I get my coffee and check in with Airbrake to see how things are going. Having all our exceptions in one place makes learning about and then keeping track of issues a breeze. I wouldn't deploy without it.”
					<br>
					<br>
					<br>
					<img src="../src/img/Joshua-Krall.png" style="float:right;padding-right:10px;">Joshua Krall</a> from <a href="https://twitter.com/groupon">
					Groupon</a>: “It wasn't until we switched to Airbrake that we finally were able to get our exception emails under control. The ability to see your errors in one place, mark them as resolved, and organize them by deploy makes all the difference.”

					<br><br><br><b>Did you like this newsletter?</b><br>

        		 	<table cellpadding="4">
        			 <tr><td><a href="https://www.temper.io/q/vbqiafwe/r/1?email=*|EMAIL|*" style="background:#e9565c;display:block;width:44px;height:44px;max-height:44px;border:0;"><img alt="Rate: Bad" border="0" height="44" src="https://temper.io/negative.png" width="44"/></a></td><td><a href="https://www.temper.io/q/vbqiafwe/r/2?email=*|EMAIL|*" style="background:#e9c079;display:block;width:44px;height:44px;max-height:44px;border:0;"><img alt="Rate: Neutral" border="0" height="44" src="https://temper.io/neutral.png" width="44"/></a></td><td><a href="https://www.temper.io/q/vbqiafwe/r/3?email=*|EMAIL|*" style="background:#5bca83;display:block;width:44px;height:44px;max-height:44px;border:0;"><img alt="Rate: Good" border="0" height="44" src="https://temper.io/positive.png" width="44"/></a></td></tr></table>
          			<br>
					<p>If no longer want to receive this newsletter you can <a href="*|UNSUB|*">unsubscribe</a>.</p>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<div class="footer">
	<table width="100%">
		<tr>
			<br>
			<p>Airbrake is a product of <a href="http://exceptioanl.io">Exceptional</a>.</p>
			<p>Hand crafted in GoLang and Rails by Rackers in San Francisco and Remotly around the World.</p><br>
			<td class="aligncenter">Follow <a href="http://twitter.com/airbrake">@Airbrake</a> and <a href="http://twitter.com/Rackspace">@Rackspace</a> on Twitter.</td>
		</tr>
	</table>
</div>